RiskHuntingAppTest/xmlSchemas/Problem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LanguageSpecificSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FacetType" type="xs:string" />
        <xs:element name="FacetSpecificationLanguage" type="xs:string" />
        <xs:element name="Author" type="xs:string" />
        <xs:element name="LaunchDate" type="xs:string" />
        <xs:element name="SourceSpecificationLastEdited" type="xs:string" />
        <xs:element name="FacetSpecificationData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Content" type="xs:string" />
              <xs:element name="Observations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Observation">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                            <xs:attribute name="launchDate" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ObservedBehaviour" type="xs:string" />
              <xs:element name="TreatmentType" type="xs:string" />
              <xs:element name="DateOfIncident" type="xs:string" />
              <xs:element name="AilmentType" type="xs:string" />
              <xs:element name="TriggeringEvent" type="xs:string" />
              <xs:element name="Miscellaneous" type="xs:string" />
              <xs:element name="MatchingDetails" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>