RiskHuntingAppTest/xmlSchemas/SourceSpecification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SourceSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourceId" type="xs:unsignedShort" />
        <xs:element name="SourceName" type="xs:string" />
        <xs:element name="SourceType" type="xs:string" />
        <xs:element name="Domain" type="xs:string" />
        <xs:element name="Filename" type="xs:string" />
        <xs:element name="LaunchDate" type="xs:string" />
        <xs:element name="SourceSpecificationLastEdited" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Facet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FacetType" type="xs:string" />
              <xs:element name="Author" type="xs:string" />
              <xs:element name="FacetSpecification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FacetSpecificationLanguage" type="xs:string" />
                    <xs:element name="FacetSpecificationLink" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>